<section class="about-me" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-5 wow zoomIn">
        <h2 class="section-title">About Me</h2><span class="background-text">about me</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center wow fadeInLeft"><img alt="" src="assets/img/about-large.jpg"></div>
      <div class="col-lg-8 about-me-text pl-lg-5">
        <p class="lead my-4">Hello, I’m <strong>John Doe</strong>, an independent UI/UX design professional based in USA. Find me on <a class="google-plus-link" href="#">Google Plus</a>, <a class="facebook-link" href="#">Facebook</a> , <a class="twitter-link" href="#">Twitter</a> , <a class="dribbble-link" href="#">Dribbble</a> , <a class="pinterest-link" href="#">Pinterest</a> , <a class="behance-link" href="#">Behance</a> and <a class="linkedin-link" href="#">LinkedIn</a></p>
        <p class="mb-5">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer possim assum minim veniam, quis nostrud exerci tation ullamcorper.</p>
        <h4>Personal Information</h4>
        <ul class="personal-info list-inline clearfix mb-5">
          <li><strong>Full Name :</strong> John Doe</li>
          <li><strong>Birthday :</strong> 25 January 1990</li>
          <li><strong>Address :</strong> Jatrabari, Dhaka, Bangladesh</li>
          <li><strong>Phone :</strong> +1 256 254 84 56</li>
          <li>
            <strong>Email :</strong> <a href="mailto:support@echotheme.com">support@echotheme.com</a>
          </li>
          <li><strong>Job :</strong> UI/UX Engineer</li>
          <li><strong>Skype :</strong> skype_id</li>
        </ul><a class="btn btn-theme btn-active mr-md-3 wow slideInUp" href="resume.html">download resume</a> <a class="btn btn-theme wow slideInUp" href="contact.html">get in touch now</a>
      </div>
    </div>
  </div>
</section>
