<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Blog</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-img"><img alt="" src="assets/img/blog/1.jpg"></div>
          <div class="post-content">
            <h2 class="post-title">How to reproduce production exceptions locally</h2>
            <div class="post-meta">
              27 Sep 2015
            </div>
            <p>The idea of CrashBreak is to reproduce production exceptions on the programmer’s computer. It’s done by creating a test request file with the same request data and system state.</p>
            <a class="btn btn-theme mt-2" href="https://medium.com/@mjaneczek/how-to-reproduce-production-exceptions-locally-via-request-spec-and-not-go-crazy-e93924f0693d">Read more</a>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-img"><img alt="" src="assets/img/blog/2.jpg"></div>
          <div class="post-content">
            <h2 class="post-title">How to combine the benefits of unit and feature testing</h2>
            <div class="post-meta">
              16 Jun 2016
            </div>
            <p>How many methods of testing an app have you seen? Do you have a friend who only believes in the legitimacy of acceptance tests? Or are you loyal fans of TDD and striving for 100% coverage?</p>
            <a class="btn btn-theme mt-2" href="https://medium.com/@mjaneczek/how-to-combine-unit-and-feature-test-benefits-and-not-get-into-a-100-test-coverage-trap-9935156eca">Read more</a>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-img"><img alt="" src="assets/img/blog/3.jpg"></div>
          <div class="post-content">
            <h2 class="post-title">Interactors architecture in your Ruby on Rails app</h2>
            <div class="post-meta">
              in progress
            </div>
            <p>Have you ever tried writing backend application independent from the framework? Is it possible to treat Ruby on Rails like a plugin to your app? Let's check why you should think about it!</p>
            <a class="btn btn-theme disabled mt-2" href="#">Read more</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
