<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Blog</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-img"><img alt="" src="assets/img/blog/1.jpg"></div>
          <div class="post-content">
            <h2 class="post-title">How to Improve Your Design!</h2>
            <div class="post-meta">
              Saifullah | 9 Dec 2016
            </div>
            <p>Nam liber tempor cum soluta nobis is eleifend option congue nihil imper per tem por legere me doming vulputate.</p><a class="btn btn-theme mt-2" href="blog-details.html">Read more</a>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-img"><img alt="" src="assets/img/blog/2.jpg"></div>
          <div class="post-content">
            <h2 class="post-title">16 Free Resources for Web Designers for May 2017</h2>
            <div class="post-meta">
              Saifullah | 9 Dec 2016
            </div>
            <p>Nam liber tempor cum soluta nobis is eleifend option congue nihil imper per</p><a class="btn btn-theme mt-2" href="blog-details.html">Read more</a>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-img"><img alt="" src="assets/img/blog/3.jpg"></div>
          <div class="post-content">
            <h2 class="post-title">How to Improve Your Design!</h2>
            <div class="post-meta">
              Saifullah | 9 Dec 2016
            </div>
            <p>Nam liber tempor cum soluta nobis is eleifend option congue nihil imper per tem por legere me doming vulputate.</p><a class="btn btn-theme mt-2" href="blog-details.html">Read more</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
