<section class="work-experience bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">work experience</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Front End Web Developer</h4>
          <h6 class="company-name color-text">Wrapbootstrap</h6>
          <div class="working-duration">
            2008-2011
          </div>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate.</p>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Wordpress Developer</h4>
          <h6 class="company-name color-text">EchoTheme</h6>
          <div class="working-duration">
            2011 - 2015
          </div>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Software Developer</h4>
          <h6 class="company-name color-text">Theme-Valley</h6>
          <div class="working-duration">
            2015 - 2016
          </div>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate.</p>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Senior UX Designer</h4>
          <h6 class="company-name color-text">Grailslab IT</h6>
          <div class="working-duration">
            2016 - Present
          </div>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate.</p>
        </div>
      </div>
    </div>
  </div>
</section>
