<section class="work-experience bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">work experience</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Junior .NET Programmer</h4>
          <h6 class="company-name color-text">WISP Group</h6>
          <div class="working-duration">
            03.2012-06.2012
          </div>
          <p>C#, WPF (MVVM), NUnit</p>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">.NET / Ruby on Rails Programmer</h4>
          <h6 class="company-name color-text">Mercomp</h6>
          <div class="working-duration">
            03.2013 - 09.2013
          </div>
          <p>WPF, ASP.NET MVC, Ruby on Rails</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Ruby on Rails Programmer</h4>
          <h6 class="company-name color-text">EL Passion</h6>
          <div class="working-duration">
            11.2013 - 07.2015
          </div>
          <p>Ruby on Rails, TDD & Rspec, AngularJS, Agile</p>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Full-Stack Developer</h4>
          <h6 class="company-name color-text">Kontomierz.pl</h6>
          <div class="working-duration">
            08.2015 - 12.2015
          </div>
          <p>Ruby on Rails, React, Redux, AngularJS, Agile</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Team leader</h4>
          <h6 class="company-name color-text">StreatUp</h6>
          <div class="working-duration">
            09.2016 - 12.2016
          </div>
          <p>Ruby on Rails, BDD, Payments Integration, Agile</p>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="work-exp-block">
          <h4 class="block-title">Full-Stack Developer</h4>
          <h6 class="company-name color-text">Near Me</h6>
          <div class="working-duration">
            01.2017 - 10.2017
          </div>
          <p>Ruby on Rails, Platform Development, Gem Development</p>
        </div>
      </div>
    </div>
  </div>
</section>
