<section class="fun-fact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
        <div class="fun-fact-icon">
          <span class="lnr lnr-briefcase"></span>
        </div>
        <h4 class="fun-fact-count">8+</h4>
        <p class="fun-fact-title">programming years</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
        <div class="fun-fact-icon">
          <span class="lnr lnr-smile"></span>
        </div>
        <h4 class="fun-fact-count">4+</h4>
        <p class="fun-fact-title">commercial career years</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
        <div class="fun-fact-icon">
          <span class="lnr lnr-book"></span>
        </div>
        <h4 class="fun-fact-count">3</h4>
        <p class="fun-fact-title">after hours startup</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center mt-sm-4">
        <div class="fun-fact-icon">
          <span class="lnr lnr-coffee-cup"></span>
        </div>
        <h4 class="fun-fact-count">8</h4>
        <p class="fun-fact-title">open source projects</p>
      </div>
    </div>
  </div>
</section>
