<section class="intro-hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img alt="" class="intro-hero-img" src="assets/img/hero-round.png">
        <h1 class="hero-title">Hello I’m <strong>Michał Janeczek</strong></h1>
      </div>
      <div class="social-intro-container col-sm-12">
        <ul class="list-inline social social-intro">
          <li>
            <a href="https://github.com/mjaneczek" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/micha%C5%82-janeczek-248b1362/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="mailto:michal.janeczek@vszone.gg"><i class="fa fa-envelope"></i></a>
          </li>
          <li>
            <a href="skype:michal-janeczek?add"><i class="fa fa-skype"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
