<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Open source</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-content">
            <h2 class="post-title">Conventional Redux</h2>
            <div class="post-meta">
              React/Redux library
            </div>
            <p>Library for small and medium react applications, it wraps the react-redux and provides API based on convention over configuration pattern without breaking redux compatibility.</p>
            <a class="btn btn-theme mt-2" href="https://github.com/mjaneczek/conventional-redux">Check GitHub</a>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-content">
            <h2 class="post-title">CrashBreak</h2>
            <div class="post-meta">
              Ruby Gem
            </div>
            <p>Library for integration with crashbreak.com. The exception notifier - it sends the exception with all details and dumped system to backend server via JSON API.</p>
            <a class="btn btn-theme mt-2" href="https://github.com/crashbreak/crashbreak">Check GitHub</a>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="blog-post">
          <div class="post-content">
            <h2 class="post-title">Marketplace Kit</h2>
            <div class="post-meta">
              Ruby Gem
            </div>
            <p>Library inspired by Capistrano gem for Marketplace Platform users. It integrates with the internal platform API and provides 3 core commands - deploy, pull and real time sync.</p>
            <a class="btn btn-theme mt-2" href="https://github.com/mdyd-dev/marketplace-kit">Check GitHub</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
