<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">What i do?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="service-block equal-height">
          <div class="sr-icon"><img alt="" src="assets/img/icons/sr2.png"></div>
          <h4 class="block-title">Backend Development</h4>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="service-block equal-height">
          <div class="sr-icon"><img alt="" src="assets/img/icons/sr3.png"></div>
          <h4 class="block-title">Frontend  Development</h4>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="service-block equal-height">
          <div class="sr-icon"><img alt="" src="assets/img/icons/sr1.png"></div>
          <h4 class="block-title">Software Architecture</h4>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming</p>
        </div>
      </div>
    </div>
  </div>
</section>
