<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">My Startups</h2>
      </div>
    </div>
    <div class="row portfolio">
      <div class="col-md-6 col-lg-4 portfolio-item cat1 cat5">
        <div class="portfolio-block">
          <img alt="" src="assets/img/portfolio/1.jpg">
          <div class="portfolio-overlay">
            <div class="portfolio-btn-action">
              <a href="https://github.com/mjaneczek/vielen-games-api"><span class="lnr lnr-code"></span></a>
            </div>
            <div class="portfolio-desc">
              <h4>Vielen Games</h4>
              <p>API for a mobile game<br/>Scala, MongoDB</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
        <div class="portfolio-block">
          <img alt="" src="assets/img/portfolio/2.jpg">
          <div class="portfolio-overlay">
            <div class="portfolio-btn-action">
              <a href="http://www.crashbreak.com/"><span class="lnr lnr-link"></span></a>
              <a href="https://github.com/crashbreak"><span class="lnr lnr-code"></span></a>
            </div>
            <div class="portfolio-desc">
              <h4>CrashBreak</h4>
              <p>Programming tool<br/>RoR, AngularJS, Gem Development</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
        <div class="portfolio-block">
          <img alt="" src="assets/img/portfolio/3.jpg">
          <div class="portfolio-overlay">
            <div class="portfolio-btn-action">
              <a href="https://vszone.gg/"><span class="lnr lnr-link"></span></a>
            </div>
            <div class="portfolio-desc">
              <h4>Versus Zone</h4>
              <p>Streamer tool<br/>RoR, React & Redux, Elixir</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
