<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Testimonials</h2>
      </div>
    </div>
    <div class="row">
      <div class="quote-slides">
        <div class="row">
          <div class="col-md-6">
            <div class="quote-item mb-4">
              <div class="author-avatar"><img alt="" src="assets/img/author/1.jpg"></div>
              <div class="quote-text">
                <h4 class="author-name">Sultan Ahmed Jibon</h4>
                <p class="author-profession">Software Developer</p>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate. Nihil imper per tem.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="quote-item mb-4">
              <div class="author-avatar"><img alt="" src="assets/img/author/2.jpg"></div>
              <div class="quote-text">
                <h4 class="author-name">Sultan Ahmed Jibon</h4>
                <p class="author-profession">Software Developer</p>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate. Nihil imper per tem.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="quote-item mb-4">
              <div class="author-avatar"><img alt="" src="assets/img/author/1.jpg"></div>
              <div class="quote-text">
                <h4 class="author-name">Sultan Ahmed Jibon</h4>
                <p class="author-profession">Software Developer</p>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate. Nihil imper per tem.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="quote-item mb-4">
              <div class="author-avatar"><img alt="" src="assets/img/author/2.jpg"></div>
              <div class="quote-text">
                <h4 class="author-name">Sultan Ahmed Jibon</h4>
                <p class="author-profession">Software Developer</p>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming vulputate. Nihil imper per tem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
