<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Testimonials</h2>
      </div>
    </div>
    <div class="row">
      <div class="quote-slides">
        <div class="row row-eq-height">
          <div class="col-md-6">
            <div class="quote-item mb-4">
              <div class="author-avatar"><img alt="" src="assets/img/author/1.jpg"></div>
              <div class="quote-text">
                <h4 class="author-name">Thijs van Alebeek</h4>
                <p class="author-profession">QC One Co-founder</p>
                <p class="quote-full">Michal is a young but very talented Rails developer, working with him is really pleasant. As an international orientated company it is very important for us to have dedicated developers. Our platforms are being used 24/7 worldwide, so the flexible availability of Michal was very appreciated. The communication about how to tackle issues or how to create the most easy and reliable solution for a feature runs smoothly.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="quote-item mb-4">
              <div class="author-avatar"><img alt="" src="assets/img/author/2.jpg"></div>
              <div class="quote-text">
                <h4 class="author-name">Adam Broadway</h4>
                <p class="author-profession">Near Me Founder</p>
                <p class="quote-full">Michal bought out-of-the-box thinking to our project and helped kick-off a revolutionary way to manage and deploy configuration and content management on our platform.  He questioned convention and looked for better ways that things could be done.  His conviction and passion for building great applications is an asset for any team.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
