<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="Michał Janeczek Personal Portfolio" name="description">
    <meta content="Michał Janeczek" name="author">
    <link href="assets/img/facicon/114x114.png" rel="icon" type="image/gif">
    <title>Michał Janeczek | Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/linearicons/style.css" rel="stylesheet">
    <link href="assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    {{ content }}
  </body>
</html>
